<div>
  <div>
    <div>
      <h1>User info</h1>
      <%= form_with model: @user do |f| %>
      <div>
        <label for="inputName">Name</label><br>
        <%= f.text_field :name, autofocus: true, id:"inputName" %><br>
      </div>
      <div>
        <label for="inputImage">Image</label><br>
        <%= f.file_field :profile_image, placeholder:"ファイルを選択", accept:"image/*" %><br>
      </div>
      <div>
        <label for="inputText">Introduction</label><br>
        <%= f.text_field :text, autofocus: true, id:"inputText" %><br>
      </div>
      <div>
        <%= f.submit "Update User" %><br>
      </div>
      <% end %>
    </div>
  </div>
</div>