<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
    p><%= link_to "User info", edit_user_path(@user) %></p>
  <% end %>
</div>

<% @book.each do |book| %>
<div>
  <%= image_tag book.get_image %>
  <p>user image：<%= image_tag 'no_image.jpg' %></p>
  <p>book title：<%= book.title %></p>
  <p>book opinion：<%= book.body %></p>
  <p>user name：<%= book.user.name %></p>
</div>
<% end %>