<div>
  <h3>User info</h3>
  <%= image_tag @user.get_profile_image(100,100) %>
    p>name</p>
  <p><%= @user.name %></p>
  <p>introduction</p>
  <p><%= @user.text %></p>
  <% if @user == current_user %>
    <p><%= link_to "User info", edit_user_path(@user) %></p>
  <% end %>

  <h1>New book</h1>
  <%= form_with model: @book do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
  <% end %>

</div>

<% @book.each do |book| %>
<div>
  <%= image_tag book.get_image %>
  <p>user image：<%= image_tag 'no_image.jpg' %></p>
  <p>book title：<%= book.title %></p>
  <p>book opinion：<%= book.body %></p>
  <p>user name：<%= book.user.name %></p>
</div>
<% end %>