 <div>
   <div>
     <div>
       <h1>Editing Book</h1>
        <%= form_with model: @book do |f| %>
          <label for="title">Title</label>
            <%= f.text_field :title, autofocus:true, id:"title" %>
          <label for="opinion">Opinion</label>
            <%= f.text_area :body, autofocus:true, id:"opinion" %>
          <%= f.submit 'Update Book' %>
          <p><%= link_to "Show", book_path(@book) %></p> |
          <p><%= link_to "Back", books_path %></p>
        <% end %>
      </div>
    </div>
  </div>