<% @book.each do |book| %>
<div>
  <%= link_to book_image_path(book.id) do %>
    <%= image_tag book.get_image %>
  <% end %>
  <p>user image：<%= image_tag book_image.user.get_profile_image(100,100) %></p>
  <p>book title：<%= book.title %></p>
  <p>book opinion：<%= book.body %></p>
  <p>user name：<%= book.user.name %></p>
</div>
<% end %>