<div>
  <h2>Book detail</h2>
  <table>
    <tbody>
       <%= image_tag @book.user.get_profile_image(100,100) %>
      <tr>
        <tb>
          <%= link_to @book.user.name, user_path(@user.id) %>
        </tb>
        <tb>
          <%= link_to @book.title, book_path(@book.id) %>
        </tb>
        <tb>
          <%= @book.body %>
        </tb>
        <tb>
          <% if @book.user == current_user %>
            <%= link_to "Edit", edit_book_path %>
          <% end %>
        </tb>
        <tb>
          <% if @book.user == current_user %>
            <%= link_to "Destroy", book_path(@book), method: :delete %>
          <% end %>
        </tb>
      </tr>
    </tbody>
  </table>
</div>
