<div>
  <h2>Book detail</h2>
  <table>
    <tbody>
       <%= image_tag @book.user.get_profile_image(100,100) %>
      <tr>
        <tb>
          <%= @book.user.name %>
        </tb>
        <tb>
          <%= link_to @book.title, book_path(@book.id) %>
        </tb>
        <tb>
          <%= @book.body %>
        </tb>
        <% if @book.user == current_user %>
        <tb>
          <%= link_to "Edit", book_path(@book) %>
        </tb>
        <tb>
          <%= link_to "Destroy", books_path(@book), method: :delete %>
        </tb>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
