<div>
  <%= image_tag @book.get_image %>
  <%= image_tag 'no_image.jpg' %>
  <%= @book.title %>
  <%= @book.body %>
  <% if @book.user == current_user %>
    <%= link_to "Destroy", books_path(@book), method: :delete %>
  <% end %>
</div>
